@font-face {
	font-family: "Candy";
	src: url("../font/Lobster 1.4.otf");
}

body {
	background-color: #BDC3C7;
	margin: 0;
}

.position {
	float: left;
	margin-top: 15px;
	margin-left: 15px;
}

#article-list {
	
}

#article-content-header{

}

.header {
	background-color: #1ABC9C;
	height: 30px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin-left: 5px;
	font-family: "Candy";
	text-align: center;
	color: #C0392B;
	font-size: 25px;
}

#article-header {
	width: 700px;
}

input {
	border-style: none;
	border-color: #1ABC9C;
	border-style: solid;
	border-width: thin;
	border-radius: 3px;
	background-color: #C9CFD4;
}

textarea {
	width: 635px;
	height: 75%;
	background-color: #C9CFD4;
	border-color: #1ABC9C;
	border-radius: 3px;
}

.align {
	margin-left:30px; 
	margin-top:15px;
}

#article {
	margin-left: 16%;
}

#article-content {
	background-color: #ECF0F1;
	width: 700px;
	height: auto;
	min-height: 90%;
	margin-left: 5px;
}

#list-header {
	width: 300px;
}

.shadow {
	box-shadow: 2px 2px 2px #999DA1;
}

.border {
	border-color: #A2A7AB;
	border-style:solid;
	border-width: thin;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}


ul {
	box-shadow: 2px 2px 2px #999DA1;
	margin: 0;
	position: absolute;
    overflow-y: hidden;
    overflow-x: hidden;
	background-color: #ECF0F1;
	/*border-radius: 5px;*/
	margin-left: 5px;
 	position:absolute;
	list-style: none;
	width: 260px;
	height: auto;
	min-height: 90%;
}


li {
	border-color: #1ABC9C;
	margin-left: -16%;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	height: 50px;
	font-size: 15px;
	text-decoration: none;
	color: #EC6E09;
	padding-left: 5px;
}

.active {
	font-weight: bold;
	background-color: #CDCFCA;
}

#save {
	background-color: #1ABC9C; 
	margin-top:15px; 
	margin-left:30px; 
	border-radius:3px;
	font-family: "Candy";
	color: #000000;
}

#delete {
	background-color: #E74C3C; 
	margin-top:15px; 
	margin-left:25px; 
	border-radius:3px;
	font-family: "Candy";
	color: #000000;
}

#clear {
	background-color: #BDC3C7; 
	margin-top:15px; 
	margin-left:25px; 
	border-radius:3px;
	font-family: "Candy";
	color: #000000;
}

#new {
	background-color: #EC6E09;
	margin-top:15px; 
	margin-left:25px; 
	border-radius:3px;
	font-family: "Candy";
	color: #000000;
}





/* For the "inset" look only */
html {
    overflow: auto;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(26,188,156,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

