@font-face {
	font-family: "Candy";
	src: url("../font/Lobster 1.4.otf");
}

body {
	margin: 0;
	background-color: #BDC3C7;
}

.bubble {
	position: relative;
	width: 20%;
	height: 170px;
	padding: 0px;
	background: #1ABC9C ;
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	border-radius: 17px;
	margin-left: 40%;
	margin-right: 40%;
	margin-top: 15px;
}

/*.bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 11px 24px 11px 0;
	border-color: transparent #1ABC9C;
	display: block;
	width: 0;
	z-index: 1;
	left: -24px;
	top: 50px;
}*/

.bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 15px 15px;
	border-color: #1ABC9C transparent;
	display: block;
	width: 0;
	z-index: 1;
	top: -15px;
	left: 51px;
}

#header {
	margin-left: 40%;
	margin-right: 40%;
}

input {
	margin-top: 15px;
	margin-left: 15px;
	width: auto;
	min-width: 92%;
	max-width: 92%;
	background-color: #E8F0F5;
	border-style: none;
	border-radius: 3px;
	height: 20%;
	font-size: 20px;
	font-family: "Candy";
}

input:focus {
	background-color: #D9E1E5;
	font-family: none;
}

button {
	border-style: none;
	width: 92%;
	/*height: 50px;*/
	height: 25%;
	margin-top: 15px;
	margin-left: 15px;
	border-radius: 5px;
	box-shadow: 2px 2px #000000;
	background-color: #F1C40F;
	font-family: "Candy";
	font-size: 30px;
	color: #E8F0F5;
}

button:hover {
	background-color: #F39C12;
}

#header {
	/*text-shadow: 2px 2px #000000;*/
	color: #E8F0F5;
	font-size: 25px;
	margin-top: 15%;
	font-family: "Candy";
}

.msg {
	margin-left: 41%;
	margin-right: 41%;
	margin-top: 15px;
	width: 18%;
	height: 25px;
	background: transparent;
	background-color: rgba(255, 72, 72, 0.4);
	border-radius: 4px;
	color: #E03F3F;
	border-style: solid;
	border-width: thin;
	border-color: #F74646;
}

strong {
	margin-top: 3%;
	margin-left: 5px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #F1C40F;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #1ABC9C;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #1ABC9C;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #1ABC9C;
}

