body {			
	margin: 0;
}

#header {
	background-color: #E3E5E0;
	width: 100%;
	height: 70%;
}

@font-face {
	font-family: "Candy";
	src: url("../font/Lobster 1.4.otf");
}

#brand {
	font-family: "Candy";
	font-size: 30px;
}

#brand-name {
	font-family: "Candy";
	font-size: 20px;
	color:#EC6E09;
}

#brand-description {
	font-family: "Candy";
	font-size: 12px	;
	color:#EC6E09;
	margin-top: 3px;
}

ul {
	position: absolute;
    overflow-y: hidden;
    overflow-x: hidden;
	background-color: #EBEDE8;
	border-color: #CFD1CD;
	border-radius: 5px;
	margin-left: 7%;
 	position:absolute;
 	top:50;bottom:0; /* Aligns Vertically - Remove for Horizontal Only */
 	left:0;right:0; /* Aligns Horizontally - Remove for Vertical Only  */
	list-style: none;
	margin-top: 15px;
	width: 260px;
	height: 300px;
	border-style:solid;
	border-width: thin;
}

li {
	border-color: #CFD1CD;
	margin-left: -16%;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	height: 50px;
	font-family: "Candy";
	font-size: 15px;
	text-decoration: none;
	color: #EC6E09;
	padding-left: 5px;
}

#article-content {
	margin-left: 1%;
	margin-right: 1%;
}

#article-text {
	color:#EC6E09;
}

#title {
	margin:auto;
 	position:absolute;
	color:#A60000;
	top:15; bottom:0;
	left:90; right:0;
}

#footer {
	width: 100%;
	height: 100%;
	background: linear-gradient(#110715, #35112f) repeat scroll 0 0 #110715;
	color: #EC6E09;
}

#line {
	background-color: #A60000;
	width: 100%;
	height: 3px; 
}

#copyright {
	padding-left:6%; 
	padding-top:70px;
	position: fixed;
}

#article {
	border-radius: 5px;
	border-style: solid;
	border-width: thin;
	border-color: #CFD1CD;
	width: 50%;
	height: auto;
	min-height: 100%;
	margin-left: 35%;
	margin-right: 15%;	
	margin-top: 40px;
	float:left;
	background-color: #EBEDE8;
}

#article-title {
	margin-top: 5px;
	text-align: center;
	color:#A60000;
	font-family: "Candy";
	font-size: 20px;
}

.active {
	font-weight: bold;
	background-color: #CDCFCA;
}

#disqus_panel{ 
	margin-top: 50px;
	margin-left: 10px;
	margin-right: 10px;
}


/* For the "inset" look only */
html {
    overflow: auto;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}